<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.qihangerp.module.order.mapper.OShipmentItemMapper">

    <resultMap id="BaseResultMap" type="cn.qihangerp.model.entity.OShipmentItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="shipmentId" column="shipment_id" jdbcType="BIGINT"/>
            <result property="shipper" column="shipper" jdbcType="INTEGER"/>
            <result property="supplierId" column="supplier_id" jdbcType="BIGINT"/>
            <result property="supplier" column="supplier" jdbcType="VARCHAR"/>
            <result property="shopType" column="shop_type" jdbcType="INTEGER"/>
            <result property="shopId" column="shop_id" jdbcType="BIGINT"/>
            <result property="orderId" column="order_id" jdbcType="BIGINT"/>
            <result property="orderNum" column="order_num" jdbcType="VARCHAR"/>
            <result property="orderTime" column="order_time" jdbcType="TIMESTAMP"/>
            <result property="orderItemId" column="order_item_id" jdbcType="BIGINT"/>
            <result property="erpGoodsId" column="erp_goods_id" jdbcType="BIGINT"/>
            <result property="erpSkuId" column="erp_sku_id" jdbcType="BIGINT"/>
            <result property="goodsTitle" column="goods_title" jdbcType="VARCHAR"/>
            <result property="goodsImg" column="goods_img" jdbcType="VARCHAR"/>
            <result property="goodsNum" column="goods_num" jdbcType="VARCHAR"/>
            <result property="goodsSpec" column="goods_spec" jdbcType="VARCHAR"/>
            <result property="skuNum" column="sku_num" jdbcType="VARCHAR"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="stockStatus" column="stock_status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,shipment_id,shipper,
        supplier_id,supplier,shop_type,
        shop_id,order_id,order_num,
        order_time,order_item_id,erp_goods_id,
        erp_sku_id,goods_title,goods_img,
        goods_num,goods_spec,sku_num,
        quantity,remark,stock_status,
        create_time,create_by,update_time,
        update_by
    </sql>
</mapper>
